@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.mheader {
    text-align: center;
    font-size: 6pc;
    font-family: 'Noto Sans', sans-serif;
    height: 200px;
    background: red;
    background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
}